body {
  margin: 0;
  padding: 0;
  background: url(../img/login_bg.jpeg) no-repeat left top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.resetpass{
width: 420px;
  height: 420px;
  background: rgba(130,130,130,.3);
  border: 3px solid;
  border-top-color: rgba(60,60,60,.4);
  border-left-color: rgba(60,60,60,.4);
  border-bottom-color: rgba(60,60,60,.4);
  border-right-color: rgba(60,60,60,.4);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
::placeholder {
    color: black;
    opacity: 1;
}
.resetpass h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.resetpass a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.resetpass a:hover {
  color: #fff;
}