<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/sidenav.css" rel="stylesheet" type="text/css" />
    <title>CBM_CTF</title>
</head>
<body>

<h1>ABOUT CBM-CTF</h1>
<p>
    CBM-CTF is a platform to learn and practice Capture The Flag(CTF) competition.<br>
    If you don't know what a CTF is, do not worry, we will teach you about ctf<br><br>
    In computer security, Capture the Flag (CTF) is a computer security competition. CTF contests are usually designed to serve as an educational exercise to
    give participants experience in securing a machine, as well as conducting and reacting to the sort of attacks found in the real world. Reverse-engineering,
    network sniffing, protocol analysis, system administration, programming, and cryptanalysis are all skills which have been required by prior CTF contests.
    There are two main styles of capture the flag competitions: attack/defense and Jeopardy!<br><br>
    In an attack/defense style competition, each team is given a machine (or a small network) to defend on an isolated network. Teams are scored on both their
    success in defending their assigned machine and on their success in attacking the other team's machines. Depending on the nature of the particular CTF game,
    teams may either be attempting to take an opponent's flag from their machine or teams may be attempting to plant their own flag on their opponent's machine.<br>
    Jeopardy!-style competitions usually involve multiple categories of problems, each of which contains a variety of questions of different point values and
    difficulties. Teams attempt to earn the most points in the competition's time frame (for example 24 hours), but do not directly attack each other. Rather
    than a race, this style of game play encourages taking time to approach challenges and prioritizes quantity of correct submissions over the timing.<br>
</p>
<p>
    This platform is focused on Jeopardy style of CTF. Attack and Defence is our next project and soon we will complete it.<br>
    Here you find many challenges of different level ( beginners to advance ) of following categories:-<br>
    Reverse engineering<br>
    Cryptography<br>
    Web<br>
    Pwn<br>
    Programming<br><span style='color: #ff0000'><br>
    Here you also get videos on basics of skills and technologies required to solve these challenges.
</p>
<p>
    This website is made to give feel of desktop. You get a terminal(with basic linux commands), practice window( list of problems to practice) ,
    leader-board (show your current rank based on points earned by solving challenges) and video-player(to watch tutorials).<br>
    check it yourself.<br>
    Don't feel shy to submit any loopholes or suggestions. Even you can contribute in development of this website if you think you can.<br></p>
    <h1>If you want to donate <a href="/donate" target="_blank">Click here</a></h1>
<p>    any amount of help is appreciated.<br>
    Enjoy!!
</p>
</body>
</html>